.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%,);
    border: 2px solid #cccccc;
    padding: 50px 100px;
    background-color: #eeeeee;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #cccccc;
    text-align: center;
    font-size: 80px;
}